<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container py-3">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="{% url 'tasks' %}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Менеджер Задач</span>
          </a>
    
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Регистрация</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Авторизация</a>
          </nav>
        </div>
      </header>
    
      <main>
        {% block content %}{% endblock %}
      </main>
    
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-body-secondary">© 2024 Гутнев Андрей</small>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
